.logo{
    height:300px;
    background-color:$primary-color;
    margin:10px;
    display:flex;
    gap:10px;
    
}

.moto{
    display:flex;
    color:white;
    gap: 20px;
    justify-content: center;
    font-size: 20px;
    list-style-position: inside;
    
}

a{
    display: flex;
}
